.ourtime-section {
  background-color: var(--background-1);
  padding-bottom: 94px;

  &__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1, 16;
    color: var(--black-color);
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
    padding-top: 94px;
  }
}
.ourtime {
  display: flex;
  gap: 30px;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  padding-inline-start: 0px;
  justify-content: center;
  flex-wrap: wrap;

  &__items {
    box-shadow: 0px 2px 0px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: var(--white-color);
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  &__names {
    font-weight: 500;
    font-size: 16px;
    line-height: 1, 18;
    color: var(--black-color);
    line-height: 1, 18;
    margin-top: 30px;
  }
  &__ocupation {
    font-size: 16px;
    line-height: 1, 18;
    margin: 10px 61px 16px 62px;
  }
  &__svg {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
  }
  &__svg-list {
    display: flex;
    gap: 10px;
    padding-left: 32px;
    padding-right: 32px;
  }
  &__backgrounds-icon {
    display: flex;
    height: 44px;
    width: 44px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--white-color);
    fill: var(--regular-color);
  }
  &__backgrounds-icon:hover {
    background-color: var(--blue-color);
    fill: var(--white-color);
  }
  &__backgrounds-icon {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.name {
  white-space: nowrap;
}

@media screen and (min-width: 768px) {
  .ourtime {
    flex-basis: calc((100% - 30px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .ourtime {
    flex-basis: calc((100% - 3 * 30px) / 4);
  }
}
