:root {
    --main-color: #757575;
    --black-color: #212121;
    --white-color: #ffff;
    --blue-color: #2196f3;
    --background-1: #f5f4fa;
    --background-footer: #2f303a;
    --background-footer-svg: rgba(255, 255, 255, 0.1);
    --regular-color: #afb1b8;
    --what-we-do-overlay: rgba(47, 48, 58, 0.8);
    --modal-background: rgba(0, 0, 0, 0.2);
    --font-Roboto: "Roboto";
    --font-Releway: "Releway";
    --font-normal: normal;
  }